
<mat-sidenav-container fullscreen>
    
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Opciones</span>
            <span class="spacer"></span>
    
            <button mat-icon-button
            (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./citas"
            mat-list-item
            (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>label</mat-icon>
            <span>Listado de citas</span>
            </a>

            <a routerLink="./chat"
            mat-list-item
            (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>add</mat-icon>
            <span>Gestiona tu cita</span>
            </a>


        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color="primary">
        <button mat-icon-button
        (click)="sidenav.toggle()">
            <mat-icon> menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span>Sistema de Gestión de citas Hospital London</span>
    </mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>
   
  
</mat-sidenav-container>
