.example-spacer {
    flex: 1 1 auto;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .warn{
    background-color: #FF9999;
  }

  .green{
    background-color: #99F999;
  }